<!DOCTYPE html>
<html>
  <head>
    <title>Mockbnb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= link_to "Connect With Facebook", "/auth/facebook" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
